<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>kn_am</string>
    <string>kn_ah</string>
    <string>kn_a</string>
    <string>kn_aa</string>
    <string>kn_i</string>
    <string>kn_ii</string>
    <string>kn_u</string>
    <string>kn_uu</string>
    <string>kn_r_ext</string>
    <string>kn_e</string>
    <string>kn_ee</string>
    <string>kn_ai</string>
    <string>kn_o</string>
    <string>kn_oo</string>
    <string>kn_au</string>
    <string>kn_k</string>
    <string>kn_kh</string>
    <string>kn_g</string>
    <string>kn_gh</string>
    <string>kn_ng</string>
    <string>kn_c</string>
    <string>kn_ch</string>
    <string>kn_j</string>
    <string>kn_jh</string>
    <string>kn_ny</string>
    <string>kn_tt</string>
    <string>kn_tth</string>
    <string>kn_dd</string>
    <string>kn_ddh</string>
    <string>kn_nn</string>
    <string>kn_t</string>
    <string>kn_th</string>
    <string>kn_d</string>
    <string>kn_dh</string>
    <string>kn_n</string>
    <string>kn_p</string>
    <string>kn_ph</string>
    <string>kn_b</string>
    <string>kn_bh</string>
    <string>kn_m</string>
    <string>kn_y</string>
    <string>kn_r</string>
    <string>kn_l</string>
    <string>kn_ll</string>
    <string>kn_v</string>
    <string>kn_sh</string>
    <string>kn_ss</string>
    <string>kn_s</string>
    <string>kn_h</string>
    <string>kn_k.base</string>
    <string>kn_kh.base</string>
    <string>kn_g.base</string>
    <string>kn_gh.base</string>
    <string>kn_gh.base2</string>
    <string>kn_ng.base</string>
    <string>kn_c.base</string>
    <string>kn_ch.base</string>
    <string>kn_j.base</string>
    <string>kn_jh.base</string>
    <string>kn_ny.base</string>
    <string>kn_tt.base</string>
    <string>kn_tth.base</string>
    <string>kn_dd.base</string>
    <string>kn_ddh.base</string>
    <string>kn_nn.base</string>
    <string>kn_t.base</string>
    <string>kn_th.base</string>
    <string>kn_d.base</string>
    <string>kn_dh.base</string>
    <string>kn_n.base</string>
    <string>kn_p.base</string>
    <string>kn_p.base2</string>
    <string>kn_ph.base</string>
    <string>kn_ph.base2</string>
    <string>kn_b.base</string>
    <string>kn_bh.base</string>
    <string>kn_m.base</string>
    <string>kn_y.base</string>
    <string>kn_y.base2</string>
    <string>kn_r.base</string>
    <string>kn_l.base</string>
    <string>kn_ll.base</string>
    <string>kn_v.base</string>
    <string>kn_sh.base</string>
    <string>kn_ss.base</string>
    <string>kn_ss.base2</string>
    <string>kn_s.base</string>
    <string>kn_s.base2</string>
    <string>kn_h.base</string>
    <string>talekattu</string>
    <string>kn_ma_aa</string>
    <string>kn_ma_aa.extra</string>
    <string>kn_ma_i</string>
    <string>kn_ma_i2</string>
    <string>kn_ma_i3</string>
    <string>kn_ma_ii</string>
    <string>kn_ma_e</string>
    <string>kn_ma_e.extra2</string>
    <string>kn_ma_e.extra</string>
    <string>kn_ma_u</string>
    <string>kn_ma_u.under</string>
    <string>kn_ma_uu</string>
    <string>kn_ma_uu.under</string>
    <string>kn_ma_r</string>
    <string>rrvocalsign-knda</string>
    <string>kn_ma_ee</string>
    <string>kn_ma_ai</string>
    <string>kn_ma_o</string>
    <string>kn_ma_oo</string>
    <string>kn_ma_au</string>
    <string>kn_virama</string>
    <string>kn_dherge_e</string>
    <string>kn_dherge_ai</string>
    <string>kn_0</string>
    <string>kn_1</string>
    <string>kn_2</string>
    <string>kn_3</string>
    <string>kn_4</string>
    <string>kn_5</string>
    <string>kn_6</string>
    <string>kn_7</string>
    <string>kn_8</string>
    <string>kn_9</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>kn_k_ottu</string>
    <string>kn_kh_ottu</string>
    <string>kn_g_ottu</string>
    <string>kn_gh_ottu</string>
    <string>kn_ng_ottu</string>
    <string>kn_c_ottu</string>
    <string>kn_ch_ottu</string>
    <string>kn_j_ottu</string>
    <string>kn_jh_ottu</string>
    <string>kn_ny_ottu</string>
    <string>kn_tt_ottu</string>
    <string>kn_tth_ottu</string>
    <string>kn_dd_ottu</string>
    <string>kn_ddh_ottu</string>
    <string>kn_nn_ottu</string>
    <string>kn_t_ottu</string>
    <string>kn_th_ottu</string>
    <string>kn_d_ottu</string>
    <string>kn_dh_ottu</string>
    <string>kn_n_ottu</string>
    <string>kn_p_ottu</string>
    <string>kn_ph_ottu</string>
    <string>kn_b_ottu</string>
    <string>kn_bh_ottu</string>
    <string>kn_m_ottu</string>
    <string>kn_y_ottu</string>
    <string>kn_r_ottu</string>
    <string>kn_l_ottu</string>
    <string>kn_ll_ottu</string>
    <string>kn_v_ottu</string>
    <string>kn_sh_ottu</string>
    <string>kn_ss_ottu</string>
    <string>kn_s_ottu</string>
    <string>kn_h_ottu</string>
    <string>kn_arka_ottu</string>
    <string>kn_k_ottu2</string>
    <string>kn_kh_ottu2</string>
    <string>kn_g_ottu2</string>
    <string>kn_gh_ottu2</string>
    <string>kn_ng_ottu2</string>
    <string>kn_c_ottu2</string>
    <string>kn_ch_ottu2</string>
    <string>kn_j_ottu2</string>
    <string>kn_jh_ottu2</string>
    <string>kn_ny_ottu2</string>
    <string>kn_tt_ottu2</string>
    <string>kn_tth_ottu2</string>
    <string>kn_dd_ottu2</string>
    <string>kn_ddh_ottu2</string>
    <string>kn_nn_ottu2</string>
    <string>kn_t_ottu2</string>
    <string>kn_th_ottu2</string>
    <string>kn_d_ottu2</string>
    <string>kn_dh_ottu2</string>
    <string>kn_n_ottu2</string>
    <string>kn_p_ottu2</string>
    <string>kn_ph_ottu2</string>
    <string>kn_b_ottu2</string>
    <string>kn_bh_ottu2</string>
    <string>kn_m_ottu2</string>
    <string>kn_y_ottu2</string>
    <string>kn_r_ottu2</string>
    <string>kn_l_ottu2</string>
    <string>kn_ll_ottu2</string>
    <string>kn_v_ottu2</string>
    <string>kn_sh_ottu2</string>
    <string>kn_ss_ottu2</string>
    <string>kn_s_ottu2</string>
    <string>kn_h_ottu2</string>
    <string>kn_ss_ottu3</string>
    <string>kn_ny_ottu3</string>
    <string>kn_k_v</string>
    <string>kn_kh_v</string>
    <string>kn_g_v</string>
    <string>kn_gh_v</string>
    <string>kn_ng_v</string>
    <string>kn_c_v</string>
    <string>kn_ch_v</string>
    <string>kn_j_v</string>
    <string>kn_jh_v</string>
    <string>kn_ny_v</string>
    <string>kn_tt_v</string>
    <string>kn_tth_v</string>
    <string>kn_dd_v</string>
    <string>kn_ddh_v</string>
    <string>kn_nn_v</string>
    <string>kn_t_v</string>
    <string>kn_th_v</string>
    <string>kn_d_v</string>
    <string>kn_dh_v</string>
    <string>kn_n_v</string>
    <string>kn_p_v</string>
    <string>kn_ph_v</string>
    <string>kn_b_v</string>
    <string>kn_bh_v</string>
    <string>kn_m_v</string>
    <string>kn_y_v</string>
    <string>kn_r_v</string>
    <string>kn_l_v</string>
    <string>kn_ll_v</string>
    <string>kn_v_v</string>
    <string>kn_sh_v</string>
    <string>kn_ss_v</string>
    <string>kn_s_v</string>
    <string>kn_h_v</string>
    <string>kn_k_aa</string>
    <string>kn_kh_aa</string>
    <string>kn_g_aa</string>
    <string>kn_gh_aa</string>
    <string>kn_ng_aa</string>
    <string>kn_c_aa</string>
    <string>kn_ch_aa</string>
    <string>kn_j_aa</string>
    <string>kn_jh_aa</string>
    <string>kn_ny_aa</string>
    <string>kn_tt_aa</string>
    <string>kn_tth_aa</string>
    <string>kn_dd_aa</string>
    <string>kn_ddh_aa</string>
    <string>kn_nn_aa</string>
    <string>kn_t_aa</string>
    <string>kn_th_aa</string>
    <string>kn_d_aa</string>
    <string>kn_dh_aa</string>
    <string>kn_n_aa</string>
    <string>kn_p_aa</string>
    <string>kn_ph_aa</string>
    <string>kn_b_aa</string>
    <string>kn_bh_aa</string>
    <string>kn_m_aa</string>
    <string>kn_y_aa</string>
    <string>kn_r_aa</string>
    <string>kn_l_aa</string>
    <string>kn_ll_aa</string>
    <string>kn_v_aa</string>
    <string>kn_sh_aa</string>
    <string>kn_ss_aa</string>
    <string>kn_s_aa</string>
    <string>kn_h_aa</string>
    <string>kn_k_i</string>
    <string>kn_kh_i</string>
    <string>kn_g_i</string>
    <string>kn_gh_i</string>
    <string>kn_ng_i</string>
    <string>kn_c_i</string>
    <string>kn_ch_i</string>
    <string>kn_j_i</string>
    <string>kn_jh_i</string>
    <string>kn_ny_i</string>
    <string>kn_tt_i</string>
    <string>kn_tth_i</string>
    <string>kn_dd_i</string>
    <string>kn_ddh_i</string>
    <string>kn_nn_i</string>
    <string>kn_t_i</string>
    <string>kn_th_i</string>
    <string>kn_d_i</string>
    <string>kn_dh_i</string>
    <string>kn_n_i</string>
    <string>kn_p_i</string>
    <string>kn_ph_i</string>
    <string>kn_b_i</string>
    <string>kn_bh_i</string>
    <string>kn_m_i</string>
    <string>kn_y_i</string>
    <string>kn_r_i</string>
    <string>kn_l_i</string>
    <string>kn_ll_i</string>
    <string>kn_v_i</string>
    <string>kn_sh_i</string>
    <string>kn_ss_i</string>
    <string>kn_s_i</string>
    <string>kn_h_i</string>
    <string>kn_k_u</string>
    <string>kn_kh_u</string>
    <string>kn_g_u</string>
    <string>kn_gh_u</string>
    <string>kn_ng_u</string>
    <string>kn_c_u</string>
    <string>kn_ch_u</string>
    <string>kn_j_u</string>
    <string>kn_jh_u</string>
    <string>kn_ny_u</string>
    <string>kn_tt_u</string>
    <string>kn_tth_u</string>
    <string>kn_dd_u</string>
    <string>kn_ddh_u</string>
    <string>kn_nn_u</string>
    <string>kn_t_u</string>
    <string>kn_th_u</string>
    <string>kn_d_u</string>
    <string>kn_dh_u</string>
    <string>kn_n_u</string>
    <string>kn_p_u</string>
    <string>kn_ph_u</string>
    <string>kn_b_u</string>
    <string>kn_bh_u</string>
    <string>kn_m_u</string>
    <string>kn_y_u</string>
    <string>kn_r_u</string>
    <string>kn_l_u</string>
    <string>kn_ll_u</string>
    <string>kn_v_u</string>
    <string>kn_sh_u</string>
    <string>kn_ss_u</string>
    <string>kn_s_u</string>
    <string>kn_h_u</string>
    <string>kn_k_uu</string>
    <string>kn_kh_uu</string>
    <string>kn_g_uu</string>
    <string>kn_gh_uu</string>
    <string>kn_ng_uu</string>
    <string>kn_c_uu</string>
    <string>kn_ch_uu</string>
    <string>kn_j_uu</string>
    <string>kn_jh_uu</string>
    <string>kn_ny_uu</string>
    <string>kn_tt_uu</string>
    <string>kn_tth_uu</string>
    <string>kn_dd_uu</string>
    <string>kn_ddh_uu</string>
    <string>kn_nn_uu</string>
    <string>kn_t_uu</string>
    <string>kn_th_uu</string>
    <string>kn_d_uu</string>
    <string>kn_dh_uu</string>
    <string>kn_n_uu</string>
    <string>kn_p_uu</string>
    <string>kn_ph_uu</string>
    <string>kn_b_uu</string>
    <string>kn_bh_uu</string>
    <string>kn_m_uu</string>
    <string>kn_y_uu</string>
    <string>kn_r_uu</string>
    <string>kn_l_uu</string>
    <string>kn_ll_uu</string>
    <string>kn_v_uu</string>
    <string>kn_sh_uu</string>
    <string>kn_ss_uu</string>
    <string>kn_s_uu</string>
    <string>kn_h_uu</string>
    <string>kn_k_e</string>
    <string>kn_kh_e</string>
    <string>kn_g_e</string>
    <string>kn_gh_e</string>
    <string>kn_ng_e</string>
    <string>kn_c_e</string>
    <string>kn_ch_e</string>
    <string>kn_j_e</string>
    <string>kn_jh_e</string>
    <string>kn_ny_e</string>
    <string>kn_tt_e</string>
    <string>kn_tth_e</string>
    <string>kn_dd_e</string>
    <string>kn_ddh_e</string>
    <string>kn_nn_e</string>
    <string>kn_t_e</string>
    <string>kn_th_e</string>
    <string>kn_d_e</string>
    <string>kn_dh_e</string>
    <string>kn_n_e</string>
    <string>kn_p_e</string>
    <string>kn_ph_e</string>
    <string>kn_b_e</string>
    <string>kn_bh_e</string>
    <string>kn_m_e</string>
    <string>kn_y_e</string>
    <string>kn_r_e</string>
    <string>kn_l_e</string>
    <string>kn_ll_e</string>
    <string>kn_v_e</string>
    <string>kn_sh_e</string>
    <string>kn_ss_e</string>
    <string>kn_s_e</string>
    <string>kn_h_e</string>
    <string>kn_k_o</string>
    <string>kn_kh_o</string>
    <string>kn_g_o</string>
    <string>kn_gh_o</string>
    <string>kn_ng_o</string>
    <string>kn_c_o</string>
    <string>kn_ch_o</string>
    <string>kn_j_o</string>
    <string>kn_jh_o</string>
    <string>kn_ny_o</string>
    <string>kn_tt_o</string>
    <string>kn_tth_o</string>
    <string>kn_dd_o</string>
    <string>kn_ddh_o</string>
    <string>kn_nn_o</string>
    <string>kn_t_o</string>
    <string>kn_th_o</string>
    <string>kn_d_o</string>
    <string>kn_dh_o</string>
    <string>kn_n_o</string>
    <string>kn_p_o</string>
    <string>kn_ph_o</string>
    <string>kn_b_o</string>
    <string>kn_bh_o</string>
    <string>kn_m_o</string>
    <string>kn_y_o</string>
    <string>kn_r_o</string>
    <string>kn_l_o</string>
    <string>kn_ll_o</string>
    <string>kn_v_o</string>
    <string>kn_sh_o</string>
    <string>kn_ss_o</string>
    <string>kn_s_o</string>
    <string>kn_h_o</string>
    <string>kn_k_au</string>
    <string>kn_kh_au</string>
    <string>kn_g_au</string>
    <string>kn_gh_au</string>
    <string>kn_ng_au</string>
    <string>kn_c_au</string>
    <string>kn_ch_au</string>
    <string>kn_j_au</string>
    <string>kn_jh_au</string>
    <string>kn_ny_au</string>
    <string>kn_tt_au</string>
    <string>kn_tth_au</string>
    <string>kn_dd_au</string>
    <string>kn_ddh_au</string>
    <string>kn_nn_au</string>
    <string>kn_t_au</string>
    <string>kn_th_au</string>
    <string>kn_d_au</string>
    <string>kn_dh_au</string>
    <string>kn_n_au</string>
    <string>kn_p_au</string>
    <string>kn_ph_au</string>
    <string>kn_b_au</string>
    <string>kn_bh_au</string>
    <string>kn_m_au</string>
    <string>kn_y_au</string>
    <string>kn_r_au</string>
    <string>kn_l_au</string>
    <string>kn_ll_au</string>
    <string>kn_v_au</string>
    <string>kn_sh_au</string>
    <string>kn_ss_au</string>
    <string>kn_s_au</string>
    <string>kn_h_au</string>
    <string>kn_k_ss</string>
    <string>kn_k_ss_v</string>
    <string>kn_k_ss_aa</string>
    <string>kn_k_ss_i</string>
    <string>kn_k_ss_u</string>
    <string>kn_k_ss_uu</string>
    <string>kn_k_ss_e</string>
    <string>kn_k_ss_o</string>
    <string>kn_k_ss_au</string>
    <string>kn_j_ny</string>
    <string>kn_j_ny_v</string>
    <string>kn_j_ny_aa</string>
    <string>kn_j_ny_i</string>
    <string>kn_j_ny_u</string>
    <string>kn_j_ny_uu</string>
    <string>kn_j_ny_e</string>
    <string>kn_j_ny_o</string>
    <string>kn_j_ny_au</string>
    <string>kn_Sh_v_r_ii</string>
    <string>kn_rr_ext</string>
    <string>.notdef</string>
    <string>signspacingcandrabindu-knda</string>
    <string>signcandrabindu-knda</string>
    <string>signsiddham-knda</string>
    <string>lvocal-knda</string>
    <string>rra-knda</string>
    <string>nukta-knda</string>
    <string>avagraha-knda</string>
    <string>rra-knda.base</string>
    <string>uni0CDD</string>
    <string>kn_ext_fa</string>
    <string>llvocal-knda</string>
    <string>lvocalsign-knda</string>
    <string>llvocalsign-knda</string>
    <string>jihvamuliya-knda</string>
    <string>upadhmaniya-knda</string>
    <string>uni0CF3</string>
    <string>space</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>section</string>
    <string>circumflex</string>
    <string>colon</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>asterisk</string>
    <string>comma</string>
    <string>period</string>
    <string>slash</string>
    <string>semicolon</string>
    <string>question</string>
    <string>at</string>
    <string>infinity</string>
    <string>equal</string>
    <string>bar</string>
    <string>plus</string>
    <string>hyphen</string>
    <string>underscore</string>
    <string>endash</string>
    <string>emdash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>less</string>
    <string>greater</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>kn_test</string>
  </array>
</dict>
</plist>
