<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Halant</key>
  <array>
    <string>kn_k_v</string>
    <string>kn_kh_v</string>
    <string>kn_g_v</string>
    <string>kn_gh_v</string>
    <string>kn_ng_v</string>
    <string>kn_c_v</string>
    <string>kn_ch_v</string>
    <string>kn_j_v</string>
    <string>kn_jh_v</string>
    <string>kn_ny_v</string>
    <string>kn_tt_v</string>
    <string>kn_tth_v</string>
    <string>kn_dd_v</string>
    <string>kn_ddh_v</string>
    <string>kn_nn_v</string>
    <string>kn_t_v</string>
    <string>kn_th_v</string>
    <string>kn_d_v</string>
    <string>kn_dh_v</string>
    <string>kn_n_v</string>
    <string>kn_p_v</string>
    <string>kn_ph_v</string>
    <string>kn_b_v</string>
    <string>kn_bh_v</string>
    <string>kn_m_v</string>
    <string>kn_y_v</string>
    <string>kn_r_v</string>
    <string>kn_l_v</string>
    <string>kn_ll_v</string>
    <string>kn_v_v</string>
    <string>kn_sh_v</string>
    <string>kn_ss_v</string>
    <string>kn_s_v</string>
    <string>kn_h_v</string>
  </array>
  <key>Matra</key>
  <array>
    <string>kn_ma_aa</string>
    <string>kn_ma_i</string>
    <string>kn_ma_ii</string>
    <string>kn_ma_u</string>
    <string>kn_ma_uu</string>
    <string>kn_ma_r</string>
    <string>rrvocalsign-knda</string>
    <string>kn_ma_e</string>
    <string>kn_ma_ee</string>
    <string>kn_ma_ai</string>
    <string>kn_ma_o</string>
    <string>kn_ma_oo</string>
    <string>kn_ma_au</string>
    <string>kn_virama</string>
    <string>kn_dherge_e</string>
    <string>kn_dherge_ai</string>
    <string>uni0CDD</string>
  </array>
  <key>Muula</key>
  <array>
    <string>kn_k</string>
    <string>kn_kh</string>
    <string>kn_g</string>
    <string>kn_gh</string>
    <string>kn_ng</string>
    <string>kn_c</string>
    <string>kn_ch</string>
    <string>kn_j</string>
    <string>kn_jh</string>
    <string>kn_ny</string>
    <string>kn_tt</string>
    <string>kn_tth</string>
    <string>kn_dd</string>
    <string>kn_ddh</string>
    <string>kn_nn</string>
    <string>kn_t</string>
    <string>kn_th</string>
    <string>kn_d</string>
    <string>kn_dh</string>
    <string>kn_n</string>
    <string>kn_p</string>
    <string>kn_ph</string>
    <string>kn_b</string>
    <string>kn_bh</string>
    <string>kn_m</string>
    <string>kn_y</string>
    <string>kn_r</string>
    <string>kn_l</string>
    <string>kn_ll</string>
    <string>kn_v</string>
    <string>kn_sh</string>
    <string>kn_ss</string>
    <string>kn_s</string>
    <string>kn_h</string>
  </array>
  <key>Ottu</key>
  <array>
    <string>kn_k_ottu</string>
    <string>kn_kh_ottu</string>
    <string>kn_g_ottu</string>
    <string>kn_gh_ottu</string>
    <string>kn_ng_ottu</string>
    <string>kn_c_ottu</string>
    <string>kn_ch_ottu</string>
    <string>kn_j_ottu</string>
    <string>kn_jh_ottu</string>
    <string>kn_ny_ottu</string>
    <string>kn_tt_ottu</string>
    <string>kn_tth_ottu</string>
    <string>kn_dd_ottu</string>
    <string>kn_ddh_ottu</string>
    <string>kn_nn_ottu</string>
    <string>kn_t_ottu</string>
    <string>kn_th_ottu</string>
    <string>kn_d_ottu</string>
    <string>kn_dh_ottu</string>
    <string>kn_n_ottu</string>
    <string>kn_p_ottu</string>
    <string>kn_ph_ottu</string>
    <string>kn_b_ottu</string>
    <string>kn_bh_ottu</string>
    <string>kn_m_ottu</string>
    <string>kn_y_ottu</string>
    <string>kn_r_ottu</string>
    <string>kn_l_ottu</string>
    <string>kn_ll_ottu</string>
    <string>kn_v_ottu</string>
    <string>kn_sh_ottu</string>
    <string>kn_ss_ottu</string>
    <string>kn_s_ottu</string>
    <string>kn_h_ottu</string>
  </array>
  <key>Ottu2</key>
  <array>
    <string>kn_k_ottu2</string>
    <string>kn_kh_ottu2</string>
    <string>kn_g_ottu2</string>
    <string>kn_gh_ottu2</string>
    <string>kn_ng_ottu2</string>
    <string>kn_c_ottu2</string>
    <string>kn_ch_ottu2</string>
    <string>kn_j_ottu2</string>
    <string>kn_jh_ottu2</string>
    <string>kn_ny_ottu2</string>
    <string>kn_tt_ottu2</string>
    <string>kn_tth_ottu2</string>
    <string>kn_dd_ottu2</string>
    <string>kn_ddh_ottu2</string>
    <string>kn_nn_ottu2</string>
    <string>kn_t_ottu2</string>
    <string>kn_th_ottu2</string>
    <string>kn_d_ottu2</string>
    <string>kn_dh_ottu2</string>
    <string>kn_n_ottu2</string>
    <string>kn_p_ottu2</string>
    <string>kn_ph_ottu2</string>
    <string>kn_b_ottu2</string>
    <string>kn_bh_ottu2</string>
    <string>kn_m_ottu2</string>
    <string>kn_y_ottu2</string>
    <string>kn_r_ottu2</string>
    <string>kn_l_ottu2</string>
    <string>kn_ll_ottu2</string>
    <string>kn_v_ottu2</string>
    <string>kn_sh_ottu2</string>
    <string>kn_ss_ottu2</string>
    <string>kn_s_ottu2</string>
    <string>kn_h_ottu2</string>
  </array>
  <key>public.kern2.-77</key>
  <array>
    <string>kn_k_ottu</string>
    <string>kn_k_ottu2</string>
  </array>
</dict>
</plist>
