<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-200</integer>
    <key>W</key>
    <integer>-300</integer>
    <key>v</key>
    <integer>-150</integer>
    <key>w</key>
    <integer>-150</integer>
    <key>y</key>
    <integer>-100</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>a</key>
    <integer>-50</integer>
    <key>e</key>
    <integer>-75</integer>
    <key>o</key>
    <integer>-75</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-150</integer>
    <key>c</key>
    <integer>-50</integer>
    <key>o</key>
    <integer>-50</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-200</integer>
    <key>a</key>
    <integer>-100</integer>
    <key>c</key>
    <integer>-100</integer>
    <key>e</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>u</key>
    <integer>-100</integer>
    <key>y</key>
    <integer>-90</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>o</key>
    <integer>-150</integer>
    <key>r</key>
    <integer>-153</integer>
    <key>v</key>
    <integer>-150</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>r</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-75</integer>
  </dict>
</dict>
</plist>
