<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>avagraha-knda</key>
  <string>avagraha-knda.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jihvamuliya-knda</key>
  <string>jihvamuliya-knda.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kn_0</key>
  <string>kn_0.glif</string>
  <key>kn_1</key>
  <string>kn_1.glif</string>
  <key>kn_2</key>
  <string>kn_2.glif</string>
  <key>kn_3</key>
  <string>kn_3.glif</string>
  <key>kn_4</key>
  <string>kn_4.glif</string>
  <key>kn_5</key>
  <string>kn_5.glif</string>
  <key>kn_6</key>
  <string>kn_6.glif</string>
  <key>kn_7</key>
  <string>kn_7.glif</string>
  <key>kn_8</key>
  <string>kn_8.glif</string>
  <key>kn_9</key>
  <string>kn_9.glif</string>
  <key>kn_Sh_v_r_ii</key>
  <string>kn_S_h_v_r_ii.glif</string>
  <key>kn_a</key>
  <string>kn_a.glif</string>
  <key>kn_aa</key>
  <string>kn_aa.glif</string>
  <key>kn_ah</key>
  <string>kn_ah.glif</string>
  <key>kn_ai</key>
  <string>kn_ai.glif</string>
  <key>kn_am</key>
  <string>kn_am.glif</string>
  <key>kn_arka_ottu</key>
  <string>kn_arka_ottu.glif</string>
  <key>kn_au</key>
  <string>kn_au.glif</string>
  <key>kn_b</key>
  <string>kn_b.glif</string>
  <key>kn_b.base</key>
  <string>kn_b.base.glif</string>
  <key>kn_b_aa</key>
  <string>kn_b_aa.glif</string>
  <key>kn_b_au</key>
  <string>kn_b_au.glif</string>
  <key>kn_b_e</key>
  <string>kn_b_e.glif</string>
  <key>kn_b_i</key>
  <string>kn_b_i.glif</string>
  <key>kn_b_o</key>
  <string>kn_b_o.glif</string>
  <key>kn_b_ottu</key>
  <string>kn_b_ottu.glif</string>
  <key>kn_b_ottu2</key>
  <string>kn_b_ottu2.glif</string>
  <key>kn_b_u</key>
  <string>kn_b_u.glif</string>
  <key>kn_b_uu</key>
  <string>kn_b_uu.glif</string>
  <key>kn_b_v</key>
  <string>kn_b_v.glif</string>
  <key>kn_bh</key>
  <string>kn_bh.glif</string>
  <key>kn_bh.base</key>
  <string>kn_bh.base.glif</string>
  <key>kn_bh_aa</key>
  <string>kn_bh_aa.glif</string>
  <key>kn_bh_au</key>
  <string>kn_bh_au.glif</string>
  <key>kn_bh_e</key>
  <string>kn_bh_e.glif</string>
  <key>kn_bh_i</key>
  <string>kn_bh_i.glif</string>
  <key>kn_bh_o</key>
  <string>kn_bh_o.glif</string>
  <key>kn_bh_ottu</key>
  <string>kn_bh_ottu.glif</string>
  <key>kn_bh_ottu2</key>
  <string>kn_bh_ottu2.glif</string>
  <key>kn_bh_u</key>
  <string>kn_bh_u.glif</string>
  <key>kn_bh_uu</key>
  <string>kn_bh_uu.glif</string>
  <key>kn_bh_v</key>
  <string>kn_bh_v.glif</string>
  <key>kn_c</key>
  <string>kn_c.glif</string>
  <key>kn_c.base</key>
  <string>kn_c.base.glif</string>
  <key>kn_c_aa</key>
  <string>kn_c_aa.glif</string>
  <key>kn_c_au</key>
  <string>kn_c_au.glif</string>
  <key>kn_c_e</key>
  <string>kn_c_e.glif</string>
  <key>kn_c_i</key>
  <string>kn_c_i.glif</string>
  <key>kn_c_o</key>
  <string>kn_c_o.glif</string>
  <key>kn_c_ottu</key>
  <string>kn_c_ottu.glif</string>
  <key>kn_c_ottu2</key>
  <string>kn_c_ottu2.glif</string>
  <key>kn_c_u</key>
  <string>kn_c_u.glif</string>
  <key>kn_c_uu</key>
  <string>kn_c_uu.glif</string>
  <key>kn_c_v</key>
  <string>kn_c_v.glif</string>
  <key>kn_ch</key>
  <string>kn_ch.glif</string>
  <key>kn_ch.base</key>
  <string>kn_ch.base.glif</string>
  <key>kn_ch_aa</key>
  <string>kn_ch_aa.glif</string>
  <key>kn_ch_au</key>
  <string>kn_ch_au.glif</string>
  <key>kn_ch_e</key>
  <string>kn_ch_e.glif</string>
  <key>kn_ch_i</key>
  <string>kn_ch_i.glif</string>
  <key>kn_ch_o</key>
  <string>kn_ch_o.glif</string>
  <key>kn_ch_ottu</key>
  <string>kn_ch_ottu.glif</string>
  <key>kn_ch_ottu2</key>
  <string>kn_ch_ottu2.glif</string>
  <key>kn_ch_u</key>
  <string>kn_ch_u.glif</string>
  <key>kn_ch_uu</key>
  <string>kn_ch_uu.glif</string>
  <key>kn_ch_v</key>
  <string>kn_ch_v.glif</string>
  <key>kn_d</key>
  <string>kn_d.glif</string>
  <key>kn_d.base</key>
  <string>kn_d.base.glif</string>
  <key>kn_d_aa</key>
  <string>kn_d_aa.glif</string>
  <key>kn_d_au</key>
  <string>kn_d_au.glif</string>
  <key>kn_d_e</key>
  <string>kn_d_e.glif</string>
  <key>kn_d_i</key>
  <string>kn_d_i.glif</string>
  <key>kn_d_o</key>
  <string>kn_d_o.glif</string>
  <key>kn_d_ottu</key>
  <string>kn_d_ottu.glif</string>
  <key>kn_d_ottu2</key>
  <string>kn_d_ottu2.glif</string>
  <key>kn_d_u</key>
  <string>kn_d_u.glif</string>
  <key>kn_d_uu</key>
  <string>kn_d_uu.glif</string>
  <key>kn_d_v</key>
  <string>kn_d_v.glif</string>
  <key>kn_dd</key>
  <string>kn_dd.glif</string>
  <key>kn_dd.base</key>
  <string>kn_dd.base.glif</string>
  <key>kn_dd_aa</key>
  <string>kn_dd_aa.glif</string>
  <key>kn_dd_au</key>
  <string>kn_dd_au.glif</string>
  <key>kn_dd_e</key>
  <string>kn_dd_e.glif</string>
  <key>kn_dd_i</key>
  <string>kn_dd_i.glif</string>
  <key>kn_dd_o</key>
  <string>kn_dd_o.glif</string>
  <key>kn_dd_ottu</key>
  <string>kn_dd_ottu.glif</string>
  <key>kn_dd_ottu2</key>
  <string>kn_dd_ottu2.glif</string>
  <key>kn_dd_u</key>
  <string>kn_dd_u.glif</string>
  <key>kn_dd_uu</key>
  <string>kn_dd_uu.glif</string>
  <key>kn_dd_v</key>
  <string>kn_dd_v.glif</string>
  <key>kn_ddh</key>
  <string>kn_ddh.glif</string>
  <key>kn_ddh.base</key>
  <string>kn_ddh.base.glif</string>
  <key>kn_ddh_aa</key>
  <string>kn_ddh_aa.glif</string>
  <key>kn_ddh_au</key>
  <string>kn_ddh_au.glif</string>
  <key>kn_ddh_e</key>
  <string>kn_ddh_e.glif</string>
  <key>kn_ddh_i</key>
  <string>kn_ddh_i.glif</string>
  <key>kn_ddh_o</key>
  <string>kn_ddh_o.glif</string>
  <key>kn_ddh_ottu</key>
  <string>kn_ddh_ottu.glif</string>
  <key>kn_ddh_ottu2</key>
  <string>kn_ddh_ottu2.glif</string>
  <key>kn_ddh_u</key>
  <string>kn_ddh_u.glif</string>
  <key>kn_ddh_uu</key>
  <string>kn_ddh_uu.glif</string>
  <key>kn_ddh_v</key>
  <string>kn_ddh_v.glif</string>
  <key>kn_dh</key>
  <string>kn_dh.glif</string>
  <key>kn_dh.base</key>
  <string>kn_dh.base.glif</string>
  <key>kn_dh_aa</key>
  <string>kn_dh_aa.glif</string>
  <key>kn_dh_au</key>
  <string>kn_dh_au.glif</string>
  <key>kn_dh_e</key>
  <string>kn_dh_e.glif</string>
  <key>kn_dh_i</key>
  <string>kn_dh_i.glif</string>
  <key>kn_dh_o</key>
  <string>kn_dh_o.glif</string>
  <key>kn_dh_ottu</key>
  <string>kn_dh_ottu.glif</string>
  <key>kn_dh_ottu2</key>
  <string>kn_dh_ottu2.glif</string>
  <key>kn_dh_u</key>
  <string>kn_dh_u.glif</string>
  <key>kn_dh_uu</key>
  <string>kn_dh_uu.glif</string>
  <key>kn_dh_v</key>
  <string>kn_dh_v.glif</string>
  <key>kn_dherge_ai</key>
  <string>kn_dherge_ai.glif</string>
  <key>kn_dherge_e</key>
  <string>kn_dherge_e.glif</string>
  <key>kn_e</key>
  <string>kn_e.glif</string>
  <key>kn_ee</key>
  <string>kn_ee.glif</string>
  <key>kn_ext_fa</key>
  <string>kn_ext_fa.glif</string>
  <key>kn_g</key>
  <string>kn_g.glif</string>
  <key>kn_g.base</key>
  <string>kn_g.base.glif</string>
  <key>kn_g_aa</key>
  <string>kn_g_aa.glif</string>
  <key>kn_g_au</key>
  <string>kn_g_au.glif</string>
  <key>kn_g_e</key>
  <string>kn_g_e.glif</string>
  <key>kn_g_i</key>
  <string>kn_g_i.glif</string>
  <key>kn_g_o</key>
  <string>kn_g_o.glif</string>
  <key>kn_g_ottu</key>
  <string>kn_g_ottu.glif</string>
  <key>kn_g_ottu2</key>
  <string>kn_g_ottu2.glif</string>
  <key>kn_g_u</key>
  <string>kn_g_u.glif</string>
  <key>kn_g_uu</key>
  <string>kn_g_uu.glif</string>
  <key>kn_g_v</key>
  <string>kn_g_v.glif</string>
  <key>kn_gh</key>
  <string>kn_gh.glif</string>
  <key>kn_gh.base</key>
  <string>kn_gh.base.glif</string>
  <key>kn_gh.base2</key>
  <string>kn_gh.base2.glif</string>
  <key>kn_gh_aa</key>
  <string>kn_gh_aa.glif</string>
  <key>kn_gh_au</key>
  <string>kn_gh_au.glif</string>
  <key>kn_gh_e</key>
  <string>kn_gh_e.glif</string>
  <key>kn_gh_i</key>
  <string>kn_gh_i.glif</string>
  <key>kn_gh_o</key>
  <string>kn_gh_o.glif</string>
  <key>kn_gh_ottu</key>
  <string>kn_gh_ottu.glif</string>
  <key>kn_gh_ottu2</key>
  <string>kn_gh_ottu2.glif</string>
  <key>kn_gh_u</key>
  <string>kn_gh_u.glif</string>
  <key>kn_gh_uu</key>
  <string>kn_gh_uu.glif</string>
  <key>kn_gh_v</key>
  <string>kn_gh_v.glif</string>
  <key>kn_h</key>
  <string>kn_h.glif</string>
  <key>kn_h.base</key>
  <string>kn_h.base.glif</string>
  <key>kn_h_aa</key>
  <string>kn_h_aa.glif</string>
  <key>kn_h_au</key>
  <string>kn_h_au.glif</string>
  <key>kn_h_e</key>
  <string>kn_h_e.glif</string>
  <key>kn_h_i</key>
  <string>kn_h_i.glif</string>
  <key>kn_h_o</key>
  <string>kn_h_o.glif</string>
  <key>kn_h_ottu</key>
  <string>kn_h_ottu.glif</string>
  <key>kn_h_ottu2</key>
  <string>kn_h_ottu2.glif</string>
  <key>kn_h_u</key>
  <string>kn_h_u.glif</string>
  <key>kn_h_uu</key>
  <string>kn_h_uu.glif</string>
  <key>kn_h_v</key>
  <string>kn_h_v.glif</string>
  <key>kn_i</key>
  <string>kn_i.glif</string>
  <key>kn_ii</key>
  <string>kn_ii.glif</string>
  <key>kn_j</key>
  <string>kn_j.glif</string>
  <key>kn_j.base</key>
  <string>kn_j.base.glif</string>
  <key>kn_j_aa</key>
  <string>kn_j_aa.glif</string>
  <key>kn_j_au</key>
  <string>kn_j_au.glif</string>
  <key>kn_j_e</key>
  <string>kn_j_e.glif</string>
  <key>kn_j_i</key>
  <string>kn_j_i.glif</string>
  <key>kn_j_ny</key>
  <string>kn_j_ny.glif</string>
  <key>kn_j_ny_aa</key>
  <string>kn_j_ny_aa.glif</string>
  <key>kn_j_ny_au</key>
  <string>kn_j_ny_au.glif</string>
  <key>kn_j_ny_e</key>
  <string>kn_j_ny_e.glif</string>
  <key>kn_j_ny_i</key>
  <string>kn_j_ny_i.glif</string>
  <key>kn_j_ny_o</key>
  <string>kn_j_ny_o.glif</string>
  <key>kn_j_ny_u</key>
  <string>kn_j_ny_u.glif</string>
  <key>kn_j_ny_uu</key>
  <string>kn_j_ny_uu.glif</string>
  <key>kn_j_ny_v</key>
  <string>kn_j_ny_v.glif</string>
  <key>kn_j_o</key>
  <string>kn_j_o.glif</string>
  <key>kn_j_ottu</key>
  <string>kn_j_ottu.glif</string>
  <key>kn_j_ottu2</key>
  <string>kn_j_ottu2.glif</string>
  <key>kn_j_u</key>
  <string>kn_j_u.glif</string>
  <key>kn_j_uu</key>
  <string>kn_j_uu.glif</string>
  <key>kn_j_v</key>
  <string>kn_j_v.glif</string>
  <key>kn_jh</key>
  <string>kn_jh.glif</string>
  <key>kn_jh.base</key>
  <string>kn_jh.base.glif</string>
  <key>kn_jh_aa</key>
  <string>kn_jh_aa.glif</string>
  <key>kn_jh_au</key>
  <string>kn_jh_au.glif</string>
  <key>kn_jh_e</key>
  <string>kn_jh_e.glif</string>
  <key>kn_jh_i</key>
  <string>kn_jh_i.glif</string>
  <key>kn_jh_o</key>
  <string>kn_jh_o.glif</string>
  <key>kn_jh_ottu</key>
  <string>kn_jh_ottu.glif</string>
  <key>kn_jh_ottu2</key>
  <string>kn_jh_ottu2.glif</string>
  <key>kn_jh_u</key>
  <string>kn_jh_u.glif</string>
  <key>kn_jh_uu</key>
  <string>kn_jh_uu.glif</string>
  <key>kn_jh_v</key>
  <string>kn_jh_v.glif</string>
  <key>kn_k</key>
  <string>kn_k.glif</string>
  <key>kn_k.base</key>
  <string>kn_k.base.glif</string>
  <key>kn_k_aa</key>
  <string>kn_k_aa.glif</string>
  <key>kn_k_au</key>
  <string>kn_k_au.glif</string>
  <key>kn_k_e</key>
  <string>kn_k_e.glif</string>
  <key>kn_k_i</key>
  <string>kn_k_i.glif</string>
  <key>kn_k_o</key>
  <string>kn_k_o.glif</string>
  <key>kn_k_ottu</key>
  <string>kn_k_ottu.glif</string>
  <key>kn_k_ottu2</key>
  <string>kn_k_ottu2.glif</string>
  <key>kn_k_ss</key>
  <string>kn_k_ss.glif</string>
  <key>kn_k_ss_aa</key>
  <string>kn_k_ss_aa.glif</string>
  <key>kn_k_ss_au</key>
  <string>kn_k_ss_au.glif</string>
  <key>kn_k_ss_e</key>
  <string>kn_k_ss_e.glif</string>
  <key>kn_k_ss_i</key>
  <string>kn_k_ss_i.glif</string>
  <key>kn_k_ss_o</key>
  <string>kn_k_ss_o.glif</string>
  <key>kn_k_ss_u</key>
  <string>kn_k_ss_u.glif</string>
  <key>kn_k_ss_uu</key>
  <string>kn_k_ss_uu.glif</string>
  <key>kn_k_ss_v</key>
  <string>kn_k_ss_v.glif</string>
  <key>kn_k_u</key>
  <string>kn_k_u.glif</string>
  <key>kn_k_uu</key>
  <string>kn_k_uu.glif</string>
  <key>kn_k_v</key>
  <string>kn_k_v.glif</string>
  <key>kn_kh</key>
  <string>kn_kh.glif</string>
  <key>kn_kh.base</key>
  <string>kn_kh.base.glif</string>
  <key>kn_kh_aa</key>
  <string>kn_kh_aa.glif</string>
  <key>kn_kh_au</key>
  <string>kn_kh_au.glif</string>
  <key>kn_kh_e</key>
  <string>kn_kh_e.glif</string>
  <key>kn_kh_i</key>
  <string>kn_kh_i.glif</string>
  <key>kn_kh_o</key>
  <string>kn_kh_o.glif</string>
  <key>kn_kh_ottu</key>
  <string>kn_kh_ottu.glif</string>
  <key>kn_kh_ottu2</key>
  <string>kn_kh_ottu2.glif</string>
  <key>kn_kh_u</key>
  <string>kn_kh_u.glif</string>
  <key>kn_kh_uu</key>
  <string>kn_kh_uu.glif</string>
  <key>kn_kh_v</key>
  <string>kn_kh_v.glif</string>
  <key>kn_l</key>
  <string>kn_l.glif</string>
  <key>kn_l.base</key>
  <string>kn_l.base.glif</string>
  <key>kn_l_aa</key>
  <string>kn_l_aa.glif</string>
  <key>kn_l_au</key>
  <string>kn_l_au.glif</string>
  <key>kn_l_e</key>
  <string>kn_l_e.glif</string>
  <key>kn_l_i</key>
  <string>kn_l_i.glif</string>
  <key>kn_l_o</key>
  <string>kn_l_o.glif</string>
  <key>kn_l_ottu</key>
  <string>kn_l_ottu.glif</string>
  <key>kn_l_ottu2</key>
  <string>kn_l_ottu2.glif</string>
  <key>kn_l_u</key>
  <string>kn_l_u.glif</string>
  <key>kn_l_uu</key>
  <string>kn_l_uu.glif</string>
  <key>kn_l_v</key>
  <string>kn_l_v.glif</string>
  <key>kn_ll</key>
  <string>kn_ll.glif</string>
  <key>kn_ll.base</key>
  <string>kn_ll.base.glif</string>
  <key>kn_ll_aa</key>
  <string>kn_ll_aa.glif</string>
  <key>kn_ll_au</key>
  <string>kn_ll_au.glif</string>
  <key>kn_ll_e</key>
  <string>kn_ll_e.glif</string>
  <key>kn_ll_i</key>
  <string>kn_ll_i.glif</string>
  <key>kn_ll_o</key>
  <string>kn_ll_o.glif</string>
  <key>kn_ll_ottu</key>
  <string>kn_ll_ottu.glif</string>
  <key>kn_ll_ottu2</key>
  <string>kn_ll_ottu2.glif</string>
  <key>kn_ll_u</key>
  <string>kn_ll_u.glif</string>
  <key>kn_ll_uu</key>
  <string>kn_ll_uu.glif</string>
  <key>kn_ll_v</key>
  <string>kn_ll_v.glif</string>
  <key>kn_m</key>
  <string>kn_m.glif</string>
  <key>kn_m.base</key>
  <string>kn_m.base.glif</string>
  <key>kn_m_aa</key>
  <string>kn_m_aa.glif</string>
  <key>kn_m_au</key>
  <string>kn_m_au.glif</string>
  <key>kn_m_e</key>
  <string>kn_m_e.glif</string>
  <key>kn_m_i</key>
  <string>kn_m_i.glif</string>
  <key>kn_m_o</key>
  <string>kn_m_o.glif</string>
  <key>kn_m_ottu</key>
  <string>kn_m_ottu.glif</string>
  <key>kn_m_ottu2</key>
  <string>kn_m_ottu2.glif</string>
  <key>kn_m_u</key>
  <string>kn_m_u.glif</string>
  <key>kn_m_uu</key>
  <string>kn_m_uu.glif</string>
  <key>kn_m_v</key>
  <string>kn_m_v.glif</string>
  <key>kn_ma_aa</key>
  <string>kn_ma_aa.glif</string>
  <key>kn_ma_aa.extra</key>
  <string>kn_ma_aa.extra.glif</string>
  <key>kn_ma_ai</key>
  <string>kn_ma_ai.glif</string>
  <key>kn_ma_au</key>
  <string>kn_ma_au.glif</string>
  <key>kn_ma_e</key>
  <string>kn_ma_e.glif</string>
  <key>kn_ma_e.extra</key>
  <string>kn_ma_e.extra.glif</string>
  <key>kn_ma_e.extra2</key>
  <string>kn_ma_e.extra2.glif</string>
  <key>kn_ma_ee</key>
  <string>kn_ma_ee.glif</string>
  <key>kn_ma_i</key>
  <string>kn_ma_i.glif</string>
  <key>kn_ma_i2</key>
  <string>kn_ma_i2.glif</string>
  <key>kn_ma_i3</key>
  <string>kn_ma_i3.glif</string>
  <key>kn_ma_ii</key>
  <string>kn_ma_ii.glif</string>
  <key>kn_ma_o</key>
  <string>kn_ma_o.glif</string>
  <key>kn_ma_oo</key>
  <string>kn_ma_oo.glif</string>
  <key>kn_ma_r</key>
  <string>kn_ma_r.glif</string>
  <key>kn_ma_u</key>
  <string>kn_ma_u.glif</string>
  <key>kn_ma_u.under</key>
  <string>kn_ma_u.under.glif</string>
  <key>kn_ma_uu</key>
  <string>kn_ma_uu.glif</string>
  <key>kn_ma_uu.under</key>
  <string>kn_ma_uu.under.glif</string>
  <key>kn_n</key>
  <string>kn_n.glif</string>
  <key>kn_n.base</key>
  <string>kn_n.base.glif</string>
  <key>kn_n_aa</key>
  <string>kn_n_aa.glif</string>
  <key>kn_n_au</key>
  <string>kn_n_au.glif</string>
  <key>kn_n_e</key>
  <string>kn_n_e.glif</string>
  <key>kn_n_i</key>
  <string>kn_n_i.glif</string>
  <key>kn_n_o</key>
  <string>kn_n_o.glif</string>
  <key>kn_n_ottu</key>
  <string>kn_n_ottu.glif</string>
  <key>kn_n_ottu2</key>
  <string>kn_n_ottu2.glif</string>
  <key>kn_n_u</key>
  <string>kn_n_u.glif</string>
  <key>kn_n_uu</key>
  <string>kn_n_uu.glif</string>
  <key>kn_n_v</key>
  <string>kn_n_v.glif</string>
  <key>kn_ng</key>
  <string>kn_ng.glif</string>
  <key>kn_ng.base</key>
  <string>kn_ng.base.glif</string>
  <key>kn_ng_aa</key>
  <string>kn_ng_aa.glif</string>
  <key>kn_ng_au</key>
  <string>kn_ng_au.glif</string>
  <key>kn_ng_e</key>
  <string>kn_ng_e.glif</string>
  <key>kn_ng_i</key>
  <string>kn_ng_i.glif</string>
  <key>kn_ng_o</key>
  <string>kn_ng_o.glif</string>
  <key>kn_ng_ottu</key>
  <string>kn_ng_ottu.glif</string>
  <key>kn_ng_ottu2</key>
  <string>kn_ng_ottu2.glif</string>
  <key>kn_ng_u</key>
  <string>kn_ng_u.glif</string>
  <key>kn_ng_uu</key>
  <string>kn_ng_uu.glif</string>
  <key>kn_ng_v</key>
  <string>kn_ng_v.glif</string>
  <key>kn_nn</key>
  <string>kn_nn.glif</string>
  <key>kn_nn.base</key>
  <string>kn_nn.base.glif</string>
  <key>kn_nn_aa</key>
  <string>kn_nn_aa.glif</string>
  <key>kn_nn_au</key>
  <string>kn_nn_au.glif</string>
  <key>kn_nn_e</key>
  <string>kn_nn_e.glif</string>
  <key>kn_nn_i</key>
  <string>kn_nn_i.glif</string>
  <key>kn_nn_o</key>
  <string>kn_nn_o.glif</string>
  <key>kn_nn_ottu</key>
  <string>kn_nn_ottu.glif</string>
  <key>kn_nn_ottu2</key>
  <string>kn_nn_ottu2.glif</string>
  <key>kn_nn_u</key>
  <string>kn_nn_u.glif</string>
  <key>kn_nn_uu</key>
  <string>kn_nn_uu.glif</string>
  <key>kn_nn_v</key>
  <string>kn_nn_v.glif</string>
  <key>kn_ny</key>
  <string>kn_ny.glif</string>
  <key>kn_ny.base</key>
  <string>kn_ny.base.glif</string>
  <key>kn_ny_aa</key>
  <string>kn_ny_aa.glif</string>
  <key>kn_ny_au</key>
  <string>kn_ny_au.glif</string>
  <key>kn_ny_e</key>
  <string>kn_ny_e.glif</string>
  <key>kn_ny_i</key>
  <string>kn_ny_i.glif</string>
  <key>kn_ny_o</key>
  <string>kn_ny_o.glif</string>
  <key>kn_ny_ottu</key>
  <string>kn_ny_ottu.glif</string>
  <key>kn_ny_ottu2</key>
  <string>kn_ny_ottu2.glif</string>
  <key>kn_ny_ottu3</key>
  <string>kn_ny_ottu3.glif</string>
  <key>kn_ny_u</key>
  <string>kn_ny_u.glif</string>
  <key>kn_ny_uu</key>
  <string>kn_ny_uu.glif</string>
  <key>kn_ny_v</key>
  <string>kn_ny_v.glif</string>
  <key>kn_o</key>
  <string>kn_o.glif</string>
  <key>kn_oo</key>
  <string>kn_oo.glif</string>
  <key>kn_p</key>
  <string>kn_p.glif</string>
  <key>kn_p.base</key>
  <string>kn_p.base.glif</string>
  <key>kn_p.base2</key>
  <string>kn_p.base2.glif</string>
  <key>kn_p_aa</key>
  <string>kn_p_aa.glif</string>
  <key>kn_p_au</key>
  <string>kn_p_au.glif</string>
  <key>kn_p_e</key>
  <string>kn_p_e.glif</string>
  <key>kn_p_i</key>
  <string>kn_p_i.glif</string>
  <key>kn_p_o</key>
  <string>kn_p_o.glif</string>
  <key>kn_p_ottu</key>
  <string>kn_p_ottu.glif</string>
  <key>kn_p_ottu2</key>
  <string>kn_p_ottu2.glif</string>
  <key>kn_p_u</key>
  <string>kn_p_u.glif</string>
  <key>kn_p_uu</key>
  <string>kn_p_uu.glif</string>
  <key>kn_p_v</key>
  <string>kn_p_v.glif</string>
  <key>kn_ph</key>
  <string>kn_ph.glif</string>
  <key>kn_ph.base</key>
  <string>kn_ph.base.glif</string>
  <key>kn_ph.base2</key>
  <string>kn_ph.base2.glif</string>
  <key>kn_ph_aa</key>
  <string>kn_ph_aa.glif</string>
  <key>kn_ph_au</key>
  <string>kn_ph_au.glif</string>
  <key>kn_ph_e</key>
  <string>kn_ph_e.glif</string>
  <key>kn_ph_i</key>
  <string>kn_ph_i.glif</string>
  <key>kn_ph_o</key>
  <string>kn_ph_o.glif</string>
  <key>kn_ph_ottu</key>
  <string>kn_ph_ottu.glif</string>
  <key>kn_ph_ottu2</key>
  <string>kn_ph_ottu2.glif</string>
  <key>kn_ph_u</key>
  <string>kn_ph_u.glif</string>
  <key>kn_ph_uu</key>
  <string>kn_ph_uu.glif</string>
  <key>kn_ph_v</key>
  <string>kn_ph_v.glif</string>
  <key>kn_r</key>
  <string>kn_r.glif</string>
  <key>kn_r.base</key>
  <string>kn_r.base.glif</string>
  <key>kn_r_aa</key>
  <string>kn_r_aa.glif</string>
  <key>kn_r_au</key>
  <string>kn_r_au.glif</string>
  <key>kn_r_e</key>
  <string>kn_r_e.glif</string>
  <key>kn_r_ext</key>
  <string>kn_r_ext.glif</string>
  <key>kn_r_i</key>
  <string>kn_r_i.glif</string>
  <key>kn_r_o</key>
  <string>kn_r_o.glif</string>
  <key>kn_r_ottu</key>
  <string>kn_r_ottu.glif</string>
  <key>kn_r_ottu2</key>
  <string>kn_r_ottu2.glif</string>
  <key>kn_r_u</key>
  <string>kn_r_u.glif</string>
  <key>kn_r_uu</key>
  <string>kn_r_uu.glif</string>
  <key>kn_r_v</key>
  <string>kn_r_v.glif</string>
  <key>kn_rr_ext</key>
  <string>kn_rr_ext.glif</string>
  <key>kn_s</key>
  <string>kn_s.glif</string>
  <key>kn_s.base</key>
  <string>kn_s.base.glif</string>
  <key>kn_s.base2</key>
  <string>kn_s.base2.glif</string>
  <key>kn_s_aa</key>
  <string>kn_s_aa.glif</string>
  <key>kn_s_au</key>
  <string>kn_s_au.glif</string>
  <key>kn_s_e</key>
  <string>kn_s_e.glif</string>
  <key>kn_s_i</key>
  <string>kn_s_i.glif</string>
  <key>kn_s_o</key>
  <string>kn_s_o.glif</string>
  <key>kn_s_ottu</key>
  <string>kn_s_ottu.glif</string>
  <key>kn_s_ottu2</key>
  <string>kn_s_ottu2.glif</string>
  <key>kn_s_u</key>
  <string>kn_s_u.glif</string>
  <key>kn_s_uu</key>
  <string>kn_s_uu.glif</string>
  <key>kn_s_v</key>
  <string>kn_s_v.glif</string>
  <key>kn_sh</key>
  <string>kn_sh.glif</string>
  <key>kn_sh.base</key>
  <string>kn_sh.base.glif</string>
  <key>kn_sh_aa</key>
  <string>kn_sh_aa.glif</string>
  <key>kn_sh_au</key>
  <string>kn_sh_au.glif</string>
  <key>kn_sh_e</key>
  <string>kn_sh_e.glif</string>
  <key>kn_sh_i</key>
  <string>kn_sh_i.glif</string>
  <key>kn_sh_o</key>
  <string>kn_sh_o.glif</string>
  <key>kn_sh_ottu</key>
  <string>kn_sh_ottu.glif</string>
  <key>kn_sh_ottu2</key>
  <string>kn_sh_ottu2.glif</string>
  <key>kn_sh_u</key>
  <string>kn_sh_u.glif</string>
  <key>kn_sh_uu</key>
  <string>kn_sh_uu.glif</string>
  <key>kn_sh_v</key>
  <string>kn_sh_v.glif</string>
  <key>kn_ss</key>
  <string>kn_ss.glif</string>
  <key>kn_ss.base</key>
  <string>kn_ss.base.glif</string>
  <key>kn_ss.base2</key>
  <string>kn_ss.base2.glif</string>
  <key>kn_ss_aa</key>
  <string>kn_ss_aa.glif</string>
  <key>kn_ss_au</key>
  <string>kn_ss_au.glif</string>
  <key>kn_ss_e</key>
  <string>kn_ss_e.glif</string>
  <key>kn_ss_i</key>
  <string>kn_ss_i.glif</string>
  <key>kn_ss_o</key>
  <string>kn_ss_o.glif</string>
  <key>kn_ss_ottu</key>
  <string>kn_ss_ottu.glif</string>
  <key>kn_ss_ottu2</key>
  <string>kn_ss_ottu2.glif</string>
  <key>kn_ss_ottu3</key>
  <string>kn_ss_ottu3.glif</string>
  <key>kn_ss_u</key>
  <string>kn_ss_u.glif</string>
  <key>kn_ss_uu</key>
  <string>kn_ss_uu.glif</string>
  <key>kn_ss_v</key>
  <string>kn_ss_v.glif</string>
  <key>kn_t</key>
  <string>kn_t.glif</string>
  <key>kn_t.base</key>
  <string>kn_t.base.glif</string>
  <key>kn_t_aa</key>
  <string>kn_t_aa.glif</string>
  <key>kn_t_au</key>
  <string>kn_t_au.glif</string>
  <key>kn_t_e</key>
  <string>kn_t_e.glif</string>
  <key>kn_t_i</key>
  <string>kn_t_i.glif</string>
  <key>kn_t_o</key>
  <string>kn_t_o.glif</string>
  <key>kn_t_ottu</key>
  <string>kn_t_ottu.glif</string>
  <key>kn_t_ottu2</key>
  <string>kn_t_ottu2.glif</string>
  <key>kn_t_u</key>
  <string>kn_t_u.glif</string>
  <key>kn_t_uu</key>
  <string>kn_t_uu.glif</string>
  <key>kn_t_v</key>
  <string>kn_t_v.glif</string>
  <key>kn_test</key>
  <string>kn_test.glif</string>
  <key>kn_th</key>
  <string>kn_th.glif</string>
  <key>kn_th.base</key>
  <string>kn_th.base.glif</string>
  <key>kn_th_aa</key>
  <string>kn_th_aa.glif</string>
  <key>kn_th_au</key>
  <string>kn_th_au.glif</string>
  <key>kn_th_e</key>
  <string>kn_th_e.glif</string>
  <key>kn_th_i</key>
  <string>kn_th_i.glif</string>
  <key>kn_th_o</key>
  <string>kn_th_o.glif</string>
  <key>kn_th_ottu</key>
  <string>kn_th_ottu.glif</string>
  <key>kn_th_ottu2</key>
  <string>kn_th_ottu2.glif</string>
  <key>kn_th_u</key>
  <string>kn_th_u.glif</string>
  <key>kn_th_uu</key>
  <string>kn_th_uu.glif</string>
  <key>kn_th_v</key>
  <string>kn_th_v.glif</string>
  <key>kn_tt</key>
  <string>kn_tt.glif</string>
  <key>kn_tt.base</key>
  <string>kn_tt.base.glif</string>
  <key>kn_tt_aa</key>
  <string>kn_tt_aa.glif</string>
  <key>kn_tt_au</key>
  <string>kn_tt_au.glif</string>
  <key>kn_tt_e</key>
  <string>kn_tt_e.glif</string>
  <key>kn_tt_i</key>
  <string>kn_tt_i.glif</string>
  <key>kn_tt_o</key>
  <string>kn_tt_o.glif</string>
  <key>kn_tt_ottu</key>
  <string>kn_tt_ottu.glif</string>
  <key>kn_tt_ottu2</key>
  <string>kn_tt_ottu2.glif</string>
  <key>kn_tt_u</key>
  <string>kn_tt_u.glif</string>
  <key>kn_tt_uu</key>
  <string>kn_tt_uu.glif</string>
  <key>kn_tt_v</key>
  <string>kn_tt_v.glif</string>
  <key>kn_tth</key>
  <string>kn_tth.glif</string>
  <key>kn_tth.base</key>
  <string>kn_tth.base.glif</string>
  <key>kn_tth_aa</key>
  <string>kn_tth_aa.glif</string>
  <key>kn_tth_au</key>
  <string>kn_tth_au.glif</string>
  <key>kn_tth_e</key>
  <string>kn_tth_e.glif</string>
  <key>kn_tth_i</key>
  <string>kn_tth_i.glif</string>
  <key>kn_tth_o</key>
  <string>kn_tth_o.glif</string>
  <key>kn_tth_ottu</key>
  <string>kn_tth_ottu.glif</string>
  <key>kn_tth_ottu2</key>
  <string>kn_tth_ottu2.glif</string>
  <key>kn_tth_u</key>
  <string>kn_tth_u.glif</string>
  <key>kn_tth_uu</key>
  <string>kn_tth_uu.glif</string>
  <key>kn_tth_v</key>
  <string>kn_tth_v.glif</string>
  <key>kn_u</key>
  <string>kn_u.glif</string>
  <key>kn_uu</key>
  <string>kn_uu.glif</string>
  <key>kn_v</key>
  <string>kn_v.glif</string>
  <key>kn_v.base</key>
  <string>kn_v.base.glif</string>
  <key>kn_v_aa</key>
  <string>kn_v_aa.glif</string>
  <key>kn_v_au</key>
  <string>kn_v_au.glif</string>
  <key>kn_v_e</key>
  <string>kn_v_e.glif</string>
  <key>kn_v_i</key>
  <string>kn_v_i.glif</string>
  <key>kn_v_o</key>
  <string>kn_v_o.glif</string>
  <key>kn_v_ottu</key>
  <string>kn_v_ottu.glif</string>
  <key>kn_v_ottu2</key>
  <string>kn_v_ottu2.glif</string>
  <key>kn_v_u</key>
  <string>kn_v_u.glif</string>
  <key>kn_v_uu</key>
  <string>kn_v_uu.glif</string>
  <key>kn_v_v</key>
  <string>kn_v_v.glif</string>
  <key>kn_virama</key>
  <string>kn_virama.glif</string>
  <key>kn_y</key>
  <string>kn_y.glif</string>
  <key>kn_y.base</key>
  <string>kn_y.base.glif</string>
  <key>kn_y.base2</key>
  <string>kn_y.base2.glif</string>
  <key>kn_y_aa</key>
  <string>kn_y_aa.glif</string>
  <key>kn_y_au</key>
  <string>kn_y_au.glif</string>
  <key>kn_y_e</key>
  <string>kn_y_e.glif</string>
  <key>kn_y_i</key>
  <string>kn_y_i.glif</string>
  <key>kn_y_o</key>
  <string>kn_y_o.glif</string>
  <key>kn_y_ottu</key>
  <string>kn_y_ottu.glif</string>
  <key>kn_y_ottu2</key>
  <string>kn_y_ottu2.glif</string>
  <key>kn_y_u</key>
  <string>kn_y_u.glif</string>
  <key>kn_y_uu</key>
  <string>kn_y_uu.glif</string>
  <key>kn_y_v</key>
  <string>kn_y_v.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>llvocal-knda</key>
  <string>llvocal-knda.glif</string>
  <key>llvocalsign-knda</key>
  <string>llvocalsign-knda.glif</string>
  <key>lvocal-knda</key>
  <string>lvocal-knda.glif</string>
  <key>lvocalsign-knda</key>
  <string>lvocalsign-knda.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nukta-knda</key>
  <string>nukta-knda.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>rra-knda</key>
  <string>rra-knda.glif</string>
  <key>rra-knda.base</key>
  <string>rra-knda.base.glif</string>
  <key>rrvocalsign-knda</key>
  <string>rrvocalsign-knda.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>signcandrabindu-knda</key>
  <string>signcandrabindu-knda.glif</string>
  <key>signsiddham-knda</key>
  <string>signsiddham-knda.glif</string>
  <key>signspacingcandrabindu-knda</key>
  <string>signspacingcandrabindu-knda.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>talekattu</key>
  <string>talekattu.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni0CDD</key>
  <string>uni0C_D_D_.glif</string>
  <key>uni0CF3</key>
  <string>uni0C_F_3.glif</string>
  <key>upadhmaniya-knda</key>
  <string>upadhmaniya-knda.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
